header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0;
    box-shadow: 0px 5px 7px 2px rgb(0 0 0 / 18%);
    z-index: 10;
}

.spacer {
    flex: 1 1 auto;
}


main {
    margin: 0;
    color: #222222;
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    padding-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    margin: 8mm auto;
    padding: 15mm;
    width: 794px;
    min-height: 1058px;
    background-color: #ad2020;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.23);
    border: 1px solid #00000038;
    color: #222222;
    -webkit-print-color-adjust: exact;
}


footer {
    padding: 15px;
    box-shadow: 0px -5px 7px 2px rgba(0, 0, 0, 0.18);
}

@media print {
    .no-print {
        display: none !important;
        position: static !important;
    }

    body {
        background: none;
        padding-top: 0;
    }

    .page {
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 2mm 8mm;
    }
}